body {
  background-color: var(--bg-color);
  background-image: linear-gradient(
    135deg, 
    var(--bg-gradient-start), 
    var(--bg-gradient-mid) 50%, 
    var(--bg-gradient-end)
  );
  min-height: 100vh;
  margin: 0;
  color: var(--text-color);
}



::-webkit-scrollbar {
  width: 0.5rem;            
}

::-webkit-scrollbar-track {
  background: var(--text-color-opposite);     
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);        
  border-radius: 10px;
  border: 2px solid var(--text-color-opposit);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-opposit);       
}

