:root {
  view-transition-name: root-theme;
}

@keyframes circle-in {
  from { clip-path: circle(0% at 50% 0%); }
  to { clip-path: circle(150% at 50% 0%); }
}

::view-transition-new(root-theme) {
  animation: circle-in 1.2s cubic-bezier(0.2, 0, 0.2, 1); 
  
  will-change: transform, clip-path; 
  
  height: 100%;
  width: 100%;
}

::view-transition-old(root-theme) {
  animation: none;
  opacity: 1;
}
