:root {
  color-scheme: light;
  --heading-color: hsl(0, 0%, 15%);
  --text-color-max: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 20%);
  --text-color-accent: hsl(0, 0%, 40%);
  --text-color-opposite: hsl(0, 0%, 100%);
  --primary-color-accent: hsl(204, 100%, 40%);
  --primary-color:hsl(204, 100%, 50%);
  --nav-bg: hsl(0, 0%, 98%);
  --bg-color: hsl(0, 0%, 98%);
  --disabled-input-bg: hsl(0, 0%, 88%);
  // Global colors for all screens
  --button-text-color:  hsl(0, 0%, 100%);
  /* BG Colors */
  --bg-gradient-start: hsl(195, 20%, 95%);
  --bg-gradient-mid: hsl(0, 0%, 98%);
  --bg-gradient-end: hsl(195, 20%, 95%);
}

[data-theme="dark"] {
  color-scheme: dark;
  // --primary-color: hsl(195, 85%, 54%);
  // --primary-color-accent: hsl(195, 85%, 64%);
  --primary-color-accent: hsl(224, 75%, 37%);
  --primary-color: hsl(224, 75%, 47%);
  --heading-color: hsl(0, 0, 90%);
  --text-color-max: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 90%);
  --text-color-accent: hsl(0, 0%, 60%);
  --text-color-opposite: hsl(0, 0%, 0%);
  --nav-bg: hsl(210, 10%, 15%);
  --bg-color: hsl(0, 0%, 8%);
  --disabled-input-bg: hsl(210, 10%, 25%);
  /* BG Colors */
  --bg-gradient-start: hsl(210, 10%, 15%);
  --bg-gradient-mid: hsl(215, 12%, 10%);
  --bg-gradient-end: hsl(210, 15%, 12%);
}
