@use "../mixins" as *;

.about-me { 
    p { // Styling for paragraphs inside the block
        text-align: center !important;
    }
    
    &__languages { 
        @include flex(row, center, center, 1rem);
        margin-top:1rem;
        flex-wrap:wrap;
        
        // Styling for SVG icons inside the languages element
        svg { 
            width:2.5rem;
            height:2.5rem;
            color: var(--primary-color);
        }
    }
}