@use "../mixins" as *;

#projects {
    max-width: 1000px;     
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;    
}

.projects {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;

	@media (min-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}
}

.project {
	@include flex(column, flex-end, flex-start);
    height: 275px;
    width: 100%;
    background-image: var(--project-image);
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: center; 
	position:relative;
	// border:solid 2px var(--primary-color);
	transition: transform 0.3s ease-in-out;
	&:hover {
		transform:scale(1.05);
	}
	&::after {
		content: "";
		@include position(absolute, $top:0, $left:0);
		width:100%;
		height:100%;
		// border:solid 1px rgba(255, 255, 255, 0.192);
		background: 
		linear-gradient(rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.78) 70%),
	}
	&__links {
		@include position(absolute, $top:1rem, $right: 1rem);
		@include flex(row);
		gap:0.5rem;
		z-index:999;
		svg {
			height:1.2rem;
			width:1.2rem;
			color:white;
			transition: transform 0.3s ease-in-out;
			&:hover {
				transform:scale(1.2);
			}
		}
	}
	&__tech {
	@include flex(row, flex-start, flex-start);
	@include position(absolute, $top:1rem, $left:1rem);
	z-index: 999;
		svg {
			width:1.5rem;
			height:1.5rem;
			color:hsl(0, 0%, 100%);
		}
	}
	&__content {
		position:absolute;
		z-index:555;
		// background-color: rgba(0, 0, 0, 0.521);
		padding:1rem;
		width:100%;

		@include flex(column, flex-end, flex-start, 0.3rem);
		&__title {
			color:white;	
			font-size:2rem;
			margin:0;
		}
		&__description {
			font-size:1rem;
			color:rgb(189, 188, 188);
		}
	}
}
