@use "../mixins" as *;

.section {
    @include flex(column, center);
    min-height:100dvh;
    max-width:1200px;
    margin:0 auto;
    padding:1rem;
    &__title {
        font-size: clamp(3rem, 5vw, 4rem);
        margin-bottom: 1rem;
        text-align: center;
    }
    &__description {
        line-height: 1.6;
        margin:0 auto;
        font-size:var(--font-size-heading-description);
    }
    &__title_separator {
        width:75px;
        border-radius:20px;
        height:10px;
        margin-inline:auto;
        margin-bottom:2rem;
        margin-top:1rem;
        background-color: var(--primary-color);
    }
}

